body {
    margin: 0px;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}
h1{
    margin: 0px;
    color: white;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px 24px;
    font-weight: bold;
    font-size :14px;

}
.header {
    height: 72px;
    padding: 0px;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 200px;
}
.logo {
    font-size: 24px;
}
.header-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.header-logo {
    flex: 1;
}

.links {
    display: flex;
    gap: 16px;
}
.hero {
    display: flex;
    background-color: #1F2937;
    padding: 120px 200px;
    gap: 72px;
    
}
.hero-text {
    flex:1;
}

.hero-image{
    height: 240px;
    width: 460px;

}
.hero-main-text {
    font-size: 48px;
    font-weight: bold;
}
.hero-second-text {
    font-size: 18px;
    color: white;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.cards-title {
    display: flex;
    justify-content: center;
}
.card-image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.card-text {
    width: 200px;
}
.cards-title-text {
    padding: 48px;
    font-size: 36px;
    font-weight: bolder;
    color: black;
}
.inspirational-quote {
    justify-content: center;
    margin: 72px 0px;
    padding: 100px 300px;
    background-color: #E5E7EB;
  
}
.inspirational-text {
    margin: 0px 32px;
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
}
.inspirational-author {
    display:flex;
    justify-content: right;
    margin: 0px 32px;
    padding: 0px 36px;
    font-size: 22px;
    font-weight: bold;
}
