body {
    margin: 0px;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}
h1{
    margin: 0px;
    color: white;
}
p {
    color:white;
}
.header {
    height: 72px;
    padding: 0px;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 160px;
}
.logo {
    font-size: 24px;
}
.header-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.header-logo {
    flex: 1;

}
.content {
    height: 1000px;
}
.links {
    display: flex;
    gap: 16px;
}
.hero {
    height: 400px;
    background-color: #1F2937;
    padding: 0px 160px;
}
.hero-image{
    height: 120px;
    width: 120px;

}